<phpunit
        bootstrap="bootstrap.php"
        backupGlobals="false"
        colors="true"
        >
    <testsuites>
        <!-- Default test suite to run all tests -->
        <testsuite>
            <directory suffix=".php">wp-testcase</directory>
            <file phpVersion="5.3.0" phpVersionOperator=">=">wp-testcase/test_actions_closures.php</file>
            <exclude>wp-testcase/test_query_results.php</exclude>
        </testsuite>
    </testsuites>
</phpunit>
