<phpunit
        bootstrap="bootstrap.php"
        backupGlobals="false"
        colors="true"
        >
    <testsuites>
        <!-- Default test suite to run all tests -->
        <testsuite>
            <directory suffix=".php">wp-testcase</directory>
            <exclude>wp-testcase/test_query_results.php</exclude>
        </testsuite>
    </testsuites>
</phpunit>
